.announcement {
    background-color: coral;
    font-size: 18px;
    position: sticky;
}

.menu {
    list-style: none;
    font-family: sans-serif;
    position: fixed;
    top: 2px;
    right: 0px;
    z-index: 10;
    cursor: pointer;
}

.links {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
}

.carousel-inner {
    margin-bottom: 15px;
    margin-top: 15px;
    color: black;
    font-size: 20px;
}

#myCarousel img {
    height: 500px;
    width: 500px;
}

.container {
    background-color: cornsilk;
}

.out {
    background-color: cornsilk;
}

.kd {
    color: black;
}

#img {
    height: 500px;
    width: 500px;
}
#ig {
    height: 575px;
    width: 400px;
}